### HackerRank Python - Data Types

#### 1. List Comprehensions

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    a = []
    for i in range(0, x+1):
        for j in range(0, y+1):
            for k in range(0, z+1):
                if i+j+k != n:
                    a.append([i,j,k])
    print(a)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

#### 2. Find the Runner Up Score!

In [2]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    # Coveritng into set and then sort the set
    arr = sorted(set(arr),reverse=True)
    print(arr[1])

5
2 3 6 5 5
5

#### 3. Finding the percentage

In [3]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
    total_score = sum([score for score in student_marks[query_name]])
    ans = total_score / len(student_marks[query_name])
    print('%.2f' %(ans))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

#### 4. Lists

In [4]:
if __name__ == '__main__':
    N = int(input())
    l  = []
    for _ in range(N):
        inp = input().split()
        if 'insert' in inp:
            l.insert(int(inp[1]), int(inp[2]))
        elif 'print' in inp:
            print(l)
        elif 'remove' in inp:
            l.remove(int(inp[1]))
        elif 'append' in inp:
            l.append(int(inp[1]))
        elif 'sort' in inp:
            l.sort()
        elif 'pop' in inp:
            l.pop()
        elif 'reverse' in inp:
            l.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

#### 5. Nested Lists

In [5]:
if __name__ == '__main__':
    score_list = []
    temp = []
    temp1 = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        temp.append([name,score])
        score_list.append(score)
    score_list=list(set(score_list))
    score_list.sort()
    seclowest= score_list[1]
    for i in range(len(temp)):
        if temp[i][1]==seclowest:
            temp1.append(temp[i][0])
    temp1.sort()
    for j in range(len(temp1)):
        print(temp1[j])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

#### 6. Tuples

In [ ]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    int_tuple = tuple(integer_list)
    print(hash(int_tuple))

#### 7. Introductions to Sets

In [7]:
def average(array):
    temp_arr = set(array)
    return sum(temp_arr) / len(temp_arr)
    

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

#### 8. No Idea!

In [8]:
n,m = list(map(int, input().split()))
arr, a, b = list(map(int, input().split())), set(map(int, input().split())), set(map(int, input().split()))

x = set(arr) & a 
y = set(arr) & b
c = 0
for i in arr:
    if i in x: 
        c += 1
    elif i in y: 
        c -= 1

print(c)

3 2
1 5 3
3 1
5 7
1

#### 9. Symmetric Difference

In [9]:
M = input()
a = set(map(int, input().split()))
N = input()
b = set(map(int, input().split()))

print(*sorted(a ^ b), sep='\n')

4
2 4 5 9
4
2 4 11 12
5
9
11
12

#### 10. Set.add()

In [11]:
n = int(input())
s = set()
for i in range(n):
    s.add(input())
print(len(s))

5
UK
India
UK
France
India
3

#### 11. Set.discard(), .remove() & .pop()

In [12]:
n = int(input())
s = set(map(int, input().split()))
lst =[]
n1 = int(input())
for i in range(n1):
    lst.append(input().split())
for i in range(n1):
    if lst[i][0] =="pop":
        s.pop()
    if lst[i][0] =="remove":
        s.remove(int(lst[i][1]))
    if lst[i][0] =="discard":
        s.discard(int(lst[i][1]))
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

#### 12. Set.union() operation

In [13]:
n, N = (int(input()), set(map(int, input().split())))
b, B = (int(input()), set(map(int, input().split())))
print(len(N.union(B)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

#### 13. Set.intersection() operation

In [14]:
n, N = (int(input()), set(map(int, input().split())))
b, B = (int(input()), set(map(int, input().split())))
print(len(N.intersection(B)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

#### 14. Set.difference() operation

In [15]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a-b))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

#### 15. Set.symmetric_difference() operation

In [16]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a.symmetric_difference(b)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

#### 16. Set Mutations

In [17]:
input()
a = set(map(int, input().split()))

for _ in range(int(input())):
    name, *_ = input().split()
    getattr(a, name)(set(map(int, input().split())))

print(sum(a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

#### 17. The Captain's Room

In [18]:
from collections import Counter

input()
print(Counter(input().split()).most_common()[-1][0])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

#### 18. Check Subset

In [19]:
t=int(input())
for i in range(t):
    l=[]
    l1=[]
    c=0
    n1=int(input())
    l=list(map(int,input().split()))
    n2=int(input())
    l1=list(map(int,input().split()))
    for i in l:
        if i in l1:
            c=c+1
    if c==len(l):
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9
False

#### 19. Check Strict Superset

In [20]:
result = []
set1 = set(map(int,input().split()))
for _ in range(int(input())):
    set2 = set(map(int,input().split()))
    if set1.issuperset(set2):
        result.append(True)
    else:
        result.append(False)
        
if False in result:
    print(False)
else:
    print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100  11 12
False